.Headline2 {
    font-style: oblique;
    font-size: 14pt;
    top: 10px;
    position: relative;
    display: inline-block;
}
.Pogas {
    position: relative;
    top: -75px;
    right: -1700px;
}

.hr1 {
    width: 1900px;
    height: 1%;
    position: relative;
    display: inline-block;
}
.hr2 {
    top: 900px;
    width: 1900px;
    height: 1%;
    position: relative;
    display: inline-block;
}
.text1{
    margin-block-end: 50px;
    position: relative;
    font-size: 14pt;
    font-style: normal;
}
.text2{
    top: 40px;
    position: relative;
    font-size: 14pt;
    font-style: normal;
    left: -40px;
}
.text3{
    top: 90px;
    position:relative;
    font-size: 14pt;
    font-style: normal;
    left: -90px;
}

.placeholder {
    position: relative;
    margin-top: 15px;
}
#Input_box{
    left: -55px;
    position:relative;
}
#Input_box2{
    top: 40px;
    left: -235px;
    position: relative;

}
#Input_box3{
    top: 90px;
    left: -415px;
    position: relative;
}
.Switcher{
    top: 140px;
    left: -750px;
    position: relative;
    font-size: 14pt;
    font-style: normal;
}
.List_box {
    position: relative;
    top: 140px;
    left: -710px;
    
}
.Form_1 {
    top: 80px;
    left: 30px;
    position:relative;
}
#Descript1 {
    font-size: 12pt;
    font-style: italic;
    top: 100px;
    left: -50px;
}   

.Form_2{
    top: 70px;
    left: 20px;
    position: relative;
}
#Descript22{
    font-size: 12pt;
    font-style: italic;
    top: 90px;
    left: -80px;
}
.Form_3{
    top: 90px;
    left: 20px;
    position: relative;
}
#Chair_box2{
    top: 130px;
    left: -240px;
    position: relative;
}
#Descript31{
    top: 130px;
    left: -240px;
    position:relative;
}
#Chair_box3{
    top: 170px;
    left: -510px;
    position: relative;
}
#Descript32{
    top: 170px;
    left: -510px;
    position: relative;
}
#Descript33{
    top: 200px;
    font-size: 12pt;
    font-style: italic;
    left: -710px;
    position: relative;
}